@{
    ViewData["Title"] = "Home Page";
}


<section class="content">
    <div class="container-fluid">
        <div class="card">
            <img class="card-img-top" src="~/Images/pedestrian-bridge-5466182.jpg" alt="Card image">
        </div>
    </div>
</section>
